/* global */
.ui-focus {
    -moz-box-shadow: 0 0 12px #FFFFFF;
    -webkit-box-shadow: 0 0 12px #FFFFFF;
    box-shadow: 0 0 12px #FFFFFF;
}

/* newTournamentPage */
.newTournamentPage {
    background: url('images/background_grass.jpg');
    background-size: auto 100%;
}

.newTournamentPage .ui-content {

}

.newTournamentPage .containerSteps, .newTournamentPage .containerAction {
    background: rgba(40, 40, 40, 0.7);
    height: 100%;
    float: left;
    -moz-border-radius: .6em;
    -webkit-border-radius: .6em;
    border-radius: .6em;
}

.newTournamentPage .stepsList_container > .ui-controlgroup {
    margin: 0px;
    margin-top: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.newTournamentPage .stepsList_container > .ui-controlgroup div.ui-radio {
    margin-top: 50px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.newTournamentPage .stepsList_container > .ui-controlgroup div.ui-radio:first-child {
    margin-top: 0px;
}

.newTournamentPage .stepsList_container > .ui-controlgroup label {
    background: none;
    border: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-left: 5px;
    margin-top: 15px
}

.newTournamentPage .stepsList_container > .ui-controlgroup input {
    opacity: 0;
}

.newTournamentPage .stepsList_container label .ui-icon {
    background: #BBBBBB;
    box-shadow: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 25px;
    height: 23px;
    text-align: center;
    text-shadow: none;
    font-size: 18px;
    color: #333333;
    padding-top: 1px;
    margin-top: -12px;
    opacity: 0.8;
}

.newTournamentPage .stepsList_container label.ui-radio-on .ui-icon {
    background: #03B8F3;
}

.newTournamentPage .stepsList_container span.ui-btn-inner {
    border: none;
}

.newTournamentPage .stepsList_container span.ui-btn-text {
    text-shadow: none;
    color: #FFFFFF;
    margin-left: 15px;
}

.newTournamentPage .containerAction {
    overflow: hidden;
}

.newTournamentPage .containers {
    position: relative;
}

.newTournamentPage .stepBasicsContainer, .newTournamentPage .stepPlayersContainer {
    float: left;
}

.newTournamentPage .containerAction .title {
    text-shadow: none;
    color: white;
    margin: 20px;
    font-size: 25px;
    text-align: right;
    text-decoration: underline;
}

.newTournamentPage .containerAction div.name_container {
    padding-left: 20px;
    padding-right: 20px;
}

.newTournamentPage .containerAction div.name_container input.name {
    padding: 10px 15px 10px 15px;
    font-size: 30px;
}

.newTournamentPage .containerAction div.name_container input.name.initial {
    color: #CDCDCD;
    font-style: italic;
}

.newTournamentPage .containerAction div.label {
    margin-left: 40px;
    margin-top: 50px;
    text-shadow: none;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.newTournamentPage .containerAction div.label:first-child {
    margin-top: 0px;
}

.newTournamentPage .containerAction div.ui-grid-a {
    margin-left: 20px;
    margin-right: 20px;
}

.newTournamentPage .containerAction div.ui-grid-a img {
    width: 90%;
}

.newTournamentPage .containerAction div.ui-grid-a .ui-block-a {
    text-align: left;
}

.newTournamentPage .containerAction div.ui-grid-a .ui-block-b {
    text-align: right;
}

.newTournamentPage .containerAction div.ui-grid-a:last-child {
    margin-left: 20px;
    margin-right: 20px;
}

.newTournamentPage .containerAction div.ui-grid-a:last-child .ui-block-a, .newTournamentPage .containerAction div.ui-grid-a:last-child .ui-block-b {
    text-align: center;
    text-shadow: none;
    color: #FFFFFF;
}

.newTournamentPage .containerAction div.ui-grid-a:last-child .ui-block-a div, .newTournamentPage .containerAction div.ui-grid-a:last-child .ui-block-b div {
    width: 90%;
    font-size: 12px;
    margin-top: 5px;
}

.newTournamentPage .containerAction div.ui-grid-a:last-child .ui-block-b div {
    margin-left: 10%;
}